@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed');

img {
  transition: 5s;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: darkgrey;
  font-family: 'Open Sans', sans-serif;
}

nav #wikipedia-links {
  height: 100px;
  overflow:hidden;
  overflow-y:scroll;
}

#logoBKSBR {
  max-width: 60px;
  max-height: 80px;
  margin-left: 30%;
  border-radius: 8px;
  border: 1px solid black;
}

#botoes {
  margin-left: 10%;
  max-width: 40%;
}

#pano {
  width: 200px;
  height: 200px;
}

#map {
   height: 100%;
   bottom: 0px;
   left: 362px;
   position: absolute;
   right: 0px;
   max-width: 70%;
 }

.options-box {
   background: : #fff;
   border: 1px solid #999;
   border-radius: 3px;
   height: 100%;
   line-height: 35px;
   padding: 10px 10px 30xp 10px;
   text-align: left;
   width: 340px;
 }

.caixa {
   border: 1px solid black;
   max-width: 340px;
   padding: 10px;
   border-radius: 8px;
   font-family: 'Roboto', sans-serif;
   background-color: lightgrey;
}

.caixaClientes {
   border: 1px solid black;
   max-width: 300px;
   padding: 10px;
   border-radius: 10px;
   font-family: 'Roboto Condensed', sans-serif;
   background-color: white;
   max-height: 200px;
}

.container {
   max-width: 100%;
}

#clientesBox #listaClientes {
  overflow:hidden;
  overflow-y:scroll;
}

#listaClientes {
   list-style: none;
}

#sideBar {
   max-width: 30%;
}

#referenciaMobile{
  display: none;
  list-style: none;
}

@media screen and (max-width: 500px) {
  #map {
    top: 800px;
    left: 0px;
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
   }

   .caixa {
     max-width: 100%;
   }
}
